.section.numb-projects {
  margin-bottom: 95px;
  margin-top: 95px;
}
.projects-nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 55px;
  justify-content: center;
}
.button {
  color: $title-text-color;

  &:hover,
  &:focus {
    color: $additional-text-color;
    background-color: $secondary-bg-color;
  }
}
.button.projects {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition: $timing-animation;
}

.button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: $primary-text-color;
  border-radius: 50%;
  transition: $timing-animation;

  &:hover,
  &:focus {
    width: 44px;
    height: 44px;
    background-color: $secondary-bg-color;
    fill: $additional-text-color;
    transition: $timing-animation;
  }
}

.projects {
  color: $title-text-color;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
}
.projects-button:not(:last-child) {
  margin-right: 8px;
}
