.section.numb-projects {
  margin-bottom: 95px;
  margin-top: 95px;
}
.projects-nav {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 55px;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 0;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
  }
}
.button {
  color: $title-text-color;

  &:hover,
  &:focus {
    color: $additional-text-color;
    background-color: $secondary-bg-color;
  }
}
.button.projects {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition: $timing-animation;
}

.projects {
  color: $title-text-color;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
}
.projects-button {
  &:not(:last-child) {
    margin-right: 8px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding-bottom: 15px;
  }
}
