.section.team {
  background-color: $additional-bg-color;

  @media screen and (min-width: 480px) {
    padding-bottom: 60px;
    padding-top: 60px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
    padding-top: 60px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 95px;
    padding-top: 95px;
    margin-bottom: 95px;
  }
}
.team {
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}
.title.team {
  @media screen and (min-width: 480px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
  }
}

.team-list {
  // display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.team-item {
  // width: 270px;
  margin-top: 0;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;

  &:last-child {
    margin-right: 0;
  }
  @media screen and (min-width: 480px) {
    width: 100%;
    height: 622px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    // width: 354px;
    width: calc((100% - 60px) / 2);
    height: 536px;
    margin-bottom: 30px;
    margin-right: 0;
    margin-left: 0;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 428px;
    margin-right: 30px;
  }
}

.photos-team {
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    width: 100%;
    height: 460px;
    margin-right: 0;
  }
  @media screen and (min-width: 768px) {
    height: 374px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
  }
}
.role {
  color: $primary-text-color;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 15;

  @media screen and (min-width: 480px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
  }
}
.social-networks.team {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-right: 32px;
  margin-left: 32px;
  padding: 0;
}
.counting-networks:not(:last-child) {
  margin-right: 10px;
}
