.counting {
  margin-top: 0;
  margin-bottom: 0px;
  padding-right: 15px;
  padding-left: 15px;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    // display: flex;
    // flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.counting-projects {
  margin-right: 30px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 30px;
  box-sizing: border-box;
  transition: $timing-animation;

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
    transition: $timing-animation;
  }

  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    &:nth-last-child(n + 2) {
      margin-bottom: 0;
    }
    &:nth-child(2n) {
      margin-right: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 60px) / 3);
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
    &:nth-child(3n) {
      margin-right: 0px;
    }
  }
}

.animated {
  position: relative;
  overflow: hidden;
  height: 294px;
  margin-bottom: 0;
}

.projects-description {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: $timing-animation;

  color: $additional-text-color;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding: 63px 24px;
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.link:hover .projects-description,
.link:focus-within .projects-description {
  opacity: 1;
  color: $additional-text-color;
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  transform: translateY(0);
  transition: $timing-animation;
}
.projects-name {
  color: $title-text-color;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.projects-direction {
  color: $primary-text-color;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin-top: 0;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 4px;
  margin-bottom: 0;
}
