$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$additional-text-color: #ffffff;
$primary-bg-color: #ffffff;
$secondary-bg-color: #2196f3;
$footer-bg-color: #2f303a;
$additional-bg-color: #f5f4fa;
$clients-color: #afb1b8;

$timing-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
